<div class="card border-primary mb-3">
  <div class="card-header">
    Clientes
  </div>
  <div class="card-body text-primary">
    <h5>Listado de Clientes</h5>

    <div class="my-2 text-left">
      <button *ngIf="authService.token"
        class="btn btn-rounded btn-primary"
        type="button"
        [routerLink]="['/clientes/crear']"
        >
          Nuevo Cliente
      </button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Email</th>
          <th scope="col">Region</th>
          <th scope="col">Fecha</th>
          <th *ngIf="authService.token" scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of clientes">
          <td scope="row">
              <!--<button
                type="button"
                class="btn btn-success btn-sm"
                [routerLink]="['/clientes/ver',item.id]">
                {{item.id}}
              </button>-->
            <a [routerLink]="['/clientes/ver',item.id]">


            <img *ngIf="item.imagen"
            src="http://localhost:8087/api/uploads/img/{{item.imagen}}" alt="{{item.imagen}}" class="img-thumbnail rounded"
            style="width:64px; cursor: pointer;">

            <img *ngIf="!item?.imagen"
              src="{{imageSrc}}" alt="Sin foto" class="img-thumbnail rounded"
              style="width:64px; cursor: pointer;">
            </a>

          </td>
          <td>{{item.nombre}}</td>
          <td>{{item.apellido}}</td>
          <td>{{item.email}}</td>
          <td>{{item.region.nombre}}</td>
          <td>{{item.createdAt}}</td>
          <td *ngIf="authService.token">
            <button  class="btn btn-primary m-md-4"  [routerLink]="['/clientes/editar',item.id]">Editar</button>
            <button  class="btn btn-danger" (click)="delete(item)" >Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


